html, body {
  font-family: 'Amatic SC', cursive;
  color: #3E2723;
  background: linear-gradient(to bottom, #00796B 0%, #ff99cc 100%);
}






https://www.quackit.com/bootstrap/bootstrap_3/tutorial/bootstrap_carousel.cfm
